{% load static %}
{% load i18n wagtailcore_tags %}

<header class="header">
  <div class="logo">

  </div>
  <div class="header-link">
    {% comment %}
      This works for all cases but prerelease versions:
    {% endcomment %}
    <!-- <a href="{% wagtail_documentation_path %}/releases/{% wagtail_release_notes_path %}">
      {% trans "View the release notes" %}
    </a> -->
  </div>
</header>
<main class="main">
  <div class="figure">
    <svg class="figure-space" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300" aria-hidden="true">
      <path class="egg" fill="currentColor" d="M150 250c-42.741 0-75-32.693-75-90s42.913-110 75-110c32.088 0 75 52.693 75 110s-32.258 90-75 90z"/>
      <ellipse fill="#ddd" cx="150" cy="270" rx="40" ry="7"/>
    </svg>
  </div>
  <div class="main-text">
    <h1>{% trans "Welcome to your Pat Content Manager" %}</h1>
    <p>{% trans 'Please feel free to <a href="https://github.com/wagtail/wagtail/wiki/Slack">join our community on Slack</a>, or get started with one of the links below.' %}</p>
  </div>
</main>
<footer class="footer">
</footer>
