<html>
    <head>
        
    </head>
    <body>
        <div>
            <h1>xxxx</h1>
            <div id="main" style="width: 1200px;height:400px;"></div>
        </div>
        <script type="text/javascript">
        import * as echarts from 'echarts';

        // Create the echarts instance
        var myChart = echarts.init(document.getElementById('main'));

        // Draw the chart
        myChart.setOption({
          title: {
            text: 'ECharts Getting Started Example'
          },
          tooltip: {},
          xAxis: {
            data: ['shirt', 'cardigan', 'chiffon', 'pants', 'heels', 'socks']
          },
          yAxis: {},
          series: [
            {
              name: 'sales',
              type: 'bar',
              data: [5, 20, 36, 10, 10, 20]
            }
          ]
        });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.0/echarts.min.js"></script>
    </body>
</html>
